<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'commerce/css/Style.css' %}" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <header>
        <nav class="flex">                      
            <ul class="flex">
                <li><img class="logo" src="{% static 'commerce/img/logo.png' %}" alt=""></li>
                <li><a href="">INICIO</a></li>
                <li><a href="">ADMINISTRAÇÃO</a></li>
            </ul>
        </nav>
    </header>
    <main>
    {% block center %}

    {% endblock %}
    </main>
</body>
</html>